<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Data [Tabular]</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        * {
            text-align: center;
            font-family: Ubuntu, Roboto, Tahoma, Arial, Helvetica, sans-serif;
            color: #ffffff;
            background-color: #121212;
        }

        a {
            color: #0000ff;
        }

        a:hover {
            color: #9696ff;
        }
    </style>
</head>

<body>
    <header class="w3-center w3-panel">
        <h1>Employee Data</h1>
    </header>
    <hr>
    <main>
        <table class="w3-table-all">
            <tr>
                <th>Full Name</th>
                <th>Posting</th>
                <th>Date Of Birth</th>
                <th>Salary</th>
                <th>Employee ID</th>
            </tr>
            {% for employee in employees %}
            <tr>
                <td>{{ employee.name }}</td>
                <td>{{ employee.posting }}</td>
                <td>{{ format_dob(employee.dob.day, employee.dob.month, employee.dob.year) }}</td>
                <td>{{ employee.salary }}</td>
                <td>{{ employees.index(employee) }}</td>
            </tr>
            {% endfor %}
        </table>
    </main>
    <footer>
        <a href="/workspace">Return To Workspace</a>
    </footer>
</body>

</html>
